.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  font-family: Monaco, monospace;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #222;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 3rem;
}