.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header-content {
  height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.header-text {
  max-width: 600px;
}

.profile-pic {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid white;
}

.project-pic {
  width: 550px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid white;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.project-card h3 {
  margin-top: 0;
}

.tech {
  font-size: 0.9rem;
  color: #555;
  margin-top: 1rem;
}

.project-links {
  margin-top: 1.5rem;
}

.project-links a {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background: #222;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9rem;
}

.project-links a:hover {
  background: #444;
}

.skills-list li {
  background: #f3f3f3;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  text-align: center;
  list-style: none;
  font-size: 0.95rem;

  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  gap: 0.75rem 1.5rem;
}

body {
  font-family: Monaco, monospace;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #222;
  color: white;
  padding: 3rem 2;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 3rem 2;
}